p {
    margin-left: 45px;
}

ol.students {
    list-style-type: decimal;
    list-style-position: inside;

}

ol>li:nth-of-type(even) {
    background-color: #efe3e3;
}

ol>li:nth-of-type(odd) {
    background-color: #cecece;
}